In [1]:
#!/usr/bin/python
import json
import csv
import ast
from pprint import pprint
#from kafka import KafkaConsumer
import time
import pandas as pd
from pandas import DataFrame as df

In [5]:
# In[9]:


start_t=time.time()

In [6]:
# In[10]:


df = pd.read_csv("../csv/struttura/relations_topics.csv")

In [7]:
# In[11]:


df.head()

   group_id  member_id            topic_name                urlkey
0  18407783  278748171      Law & Technology               lawtech
1  18407783  278748171        New Technology               newtech
2  18407783  278748171    Legal and Business    legal-and-business
3  18407783  278748171        Legal Industry        legal-industry
4  18407783  278748171  Computer programming  computer-programming

In [11]:
# In[12]:


df1= pd.read_csv("../csv/struttura/member_enriched_final.csv")
df1.tail(20)

,Unnamed: 0,member_id,member_name,topics,lat,long
839320,839320,278743676,Victoria Riase,"['craftswap', 'prodev', 'nature-photography', ...",41.32,-81.45
839321,839321,270532569,Natasha,"['dance-lessons', 'sales']",37.78,-122.42
839322,839322,251658202,Dalia Huerta Cano,"['international-friends', 'movie-nights', 'cre...",59.91,10.75
839323,839323,18874331,Eloi Alcaide,NaN,41.40,2.17
839324,839324,262143964,Desha Woods,"['reading', 'hiphop', 'friends-supporters-of-l...",34.22,-119.18
839325,839325,182452189,Wendy V,NaN,41.42,-87.35
839326,839326,247463902,Evaristo Navarrete,"['self-improvement', 'fun-times', 'leadership'...",39.48,-0.39
839327,839327,241172447,Homeyra Sadaghiani,NaN,33.95,-118.25
839328,839328,197132257,Maciej MiÄ™tek,"['freelance', 'exploring', 'business-strategy'...",52.52,13.38
839329,839329,178257892,Engin CAN,"['esl', 'beer', 'language', 'music', 'english-...",41.01,28.96
839330,839330,2097126,Divinity Chan,"['eventplanning', 'chocolate', 'socialnetwork'...",49.28,-123.11
839331,839331,274726887,Karun,['language'],51.54,-0.08
839332,839332,278921193,Dhanu Premarathna,NaN,43.74,-79.36
839333,839333,180355052,Austin,"['musicians', 'drumcircle', 'livemusic', 'musi...",38.78,-77.24
839334,839334,10485743,H.L.,NaN,34.10,-118.33
839335,839335,190840820,Jake Pierson,"['fitness', 'beer', 'edtech', 'history', 'live...",51.53,-3.16
839336,839336,85983222,Kim,NaN,35.07,-85.31
839337,839337,217108697,Mario H,NaN,49.80,9.94
839338,839338,184549373,Tasha Mann,"['spanish', 'italian', 'french', 'salsa', 'lan...",52.48,-1.91
839339,839339,4194303,Adil,NaN,28.03,-82.37

In [12]:
# In[13]:


df1=df1.drop(columns='Unnamed: 0')

In [13]:
# In[14]:


#df1.head()

In [14]:
# In[15]:


df1.dropna(inplace=True)

In [16]:
# In[16]:


id_list=[]
topic_list=[]
#setcount=None
setcount=1
for count,line  in enumerate(df1.itertuples()):
    topics=df1.topics[line.Index]
    tmp_list=topics.split()
    
    for elem in tmp_list:
        #print(line.Index)
        id_list.append(df1['member_id'][line.Index])
        elem=elem.strip("[").strip("]").strip(",")
        elem=elem.replace("'","")
        topic_list.append(elem)
    if setcount:        
        if count is 2:
            break

In [17]:
# In[17]:


df2=pd.DataFrame({"type":1,"group_id":"NaN","member_id":id_list,"topic_name":"NaN","urlkey":topic_list})
#print(len(df2))
df2.head()

  group_id  member_id topic_name  type        urlkey
0      NaN          6        NaN     1        meetup
1      NaN          6        NaN     1         photo
2      NaN          6        NaN     1  rightsforall
3      NaN          6        NaN     1       writing
4      NaN          6        NaN     1      movement

In [18]:
# In[18]:


df['type']=0
df['type']=df['type'].apply(int)

In [19]:
# In[19]:


df_c=pd.concat([df, df2], sort=False)
df_c.head()

   group_id  member_id            topic_name                urlkey  type
0  18407783  278748171      Law & Technology               lawtech     0
1  18407783  278748171        New Technology               newtech     0
2  18407783  278748171    Legal and Business    legal-and-business     0
3  18407783  278748171        Legal Industry        legal-industry     0
4  18407783  278748171  Computer programming  computer-programming     0

In [20]:
# In[20]:


df_c.tail()

   group_id  member_id topic_name              urlkey  type
70      NaN  138412042        NaN  competitive-tennis     1
71      NaN  138412042        NaN       indoor-tennis     1
72      NaN  138412042        NaN           exchicago     1
73      NaN  138412042        NaN       empty-nesters     1
74      NaN  138412042        NaN     handmade-crafts     1

In [23]:
# In[21]:
debug=1
if debug:
    print "len(df_c) "+str(len(df_c))
    print "len(df2) "+str(len(df2))
    print "len(df) " +str(len(df))
    print("sum len:"+str(len(df)+len(df2)))

len(df_c) 25972474
len(df2) 75
len(df) 25972399
sum len:25972474

In [24]:
# In[22]:


del df


# In[23]:


del df1
del df2

In [25]:
# In[24]:


df_c.sort_values('urlkey', inplace=True)
#df.head()

In [26]:
# In[25]:


df_c.reset_index(inplace=True)

In [27]:
# In[26]:


df_c.drop('index', axis=1, inplace=True)

In [28]:
# In[27]:

In [29]:
df_c['topic_id']=0

temp=df_c.urlkey.at[0]
count=0
index=0

In [30]:
for line in df_c.itertuples():

    curr_url=line.urlkey
    if curr_url == temp:
        df_c['topic_id'].at[line.Index]=count

    else:
        count+=1
        df_c['topic_id'].at[line.Index]=count
        temp=curr_url
    if setcount:
        if count == 20:
            print "breaking"
            break
    


# In[28]:


# In[9]:

breaking

In [31]:
df_c.head(50)

,group_id,member_id,topic_name,urlkey,type,topic_id
0,31382833,17089021,0x,0x,0,0
1,31382833,80534942,0x,0x,0,0
2,31382833,211622067,0x,0x,0,0
3,31382833,252627854,0x,0x,0,0
4,31382833,162627102,0x,0x,0,0
5,31382833,39510582,0x,0x,0,0
6,31382833,278771833,0x,0x,0,0
7,31382833,4820522,0x,0x,0,0
8,31382833,60496792,0x,0x,0,0
9,31382833,80534942,0x,0x,0,0
10,31382833,26564032,0x,0x,0,0
11,31382833,2024624,0x,0x,0,0
12,31382833,164959932,0x,0x,0,0
13,31382833,278824579,0x,0x,0,0
14,31382833,14490560,0x,0x,0,0
15,31382833,235871738,0x,0x,0,0
16,31382833,278822592,0x,0x,0,0
17,31382833,240733938,0x,0x,0,0
18,31382833,276504122,0x,0x,0,0
19,31382833,9229566,0x,0x,0,0
20,31382833,102985382,0x,0x,0,0
21,31382833,221098466,0x,0x,0,0
22,31382833,54534542,0x,0x,0,0
23,31382833,272978555,0x,0x,0,0
24,8760702,254740225,1/2 Marathon Training,1-2-marathon-training,0,1
25,30796503,274541574,1/2 Marathon Training,1-2-marathon-training,0,1
26,8760702,147634592,1/2 Marathon Training,1-2-marathon-training,0,1
27,8760702,99193662,1/2 Marathon Training,1-2-marathon-training,0,1
28,30796503,206196578,1/2 Marathon Training,1-2-marathon-training,0,1
29,8760702,99193662,1/2 Marathon Training,1-2-marathon-training,0,1
30,31359758,69030582,1/2 Marathon Training,1-2-marathon-training,0,1
31,8760702,254740225,1/2 Marathon Training,1-2-marathon-training,0,1
32,8760702,254740225,1/2 Marathon Training,1-2-marathon-training,0,1
33,8760702,254740225,1/2 Marathon Training,1-2-marathon-training,0,1
34,8760702,254740225,1/2 Marathon Training,1-2-marathon-training,0,1
35,8760702,99193662,1/2 Marathon Training,1-2-marathon-training,0,1
36,8760702,221812739,1/2 Marathon Training,1-2-marathon-training,0,1
37,30796503,274541574,1/2 Marathon Training,1-2-marathon-training,0,1
38,8760702,254740225,1/2 Marathon Training,1-2-marathon-training,0,1
39,8760702,221812739,1/2 Marathon Training,1-2-marathon-training,0,1
40,29819573,49348012,100 black men NAACP 100 Black women Urban league,100-black-men-naacp-100-black-women-urban-league,0,2
41,6069852,95461252,100 black men NAACP 100 Black women Urban league,100-black-men-naacp-100-black-women-urban-league,0,2
42,29819573,263296109,100 black men NAACP 100 Black women Urban league,100-black-men-naacp-100-black-women-urban-league,0,2
43,6069852,197328204,100 black men NAACP 100 Black women Urban league,100-black-men-naacp-100-black-women-urban-league,0,2
44,29819573,270244842,100 black men NAACP 100 Black women Urban league,100-black-men-naacp-100-black-women-urban-league,0,2
45,29819573,263296109,100 black men NAACP 100 Black women Urban league,100-black-men-naacp-100-black-women-urban-league,0,2
46,6069852,197328204,100 black men NAACP 100 Black women Urban league,100-black-men-naacp-100-black-women-urban-league,0,2
47,29819573,270244842,100 black men NAACP 100 Black women Urban league,100-black-men-naacp-100-black-women-urban-league,0,2
48,24980900,276070918,100+ Business Startups,100-business-startups,0,3
49,15601782,260378720,100+ Business Startups,100-business-startups,0,3

In [32]:
# In[29]:


# In[10]:


# In[30]:


#df_create_topic=pd.DataFrame([df_c['topic_id'],df_c['urlkey']])
df_create_topic=pd.concat([df_c['topic_id'],df_c['urlkey']], axis=1).reset_index() #eventually add topic_name

In [33]:
# In[ ]:

In [34]:
df_create_topic.head(50)


# In[34]:

    index  topic_id                                            urlkey
0       0         0                                                0x
1       1         0                                                0x
2       2         0                                                0x
3       3         0                                                0x
4       4         0                                                0x
5       5         0                                                0x
6       6         0                                                0x
7       7         0                                                0x
8       8         0                                                0x
9       9         0                                                0x
10     10         0                                                0x
11     11         0                                                0x
12     12         0                                                0x
13     13         0                                                0x
14     14         0                                                0x
15     15         0                                                0x
16     16         0                                                0x
17     17         0                                                0x
18     18         0                                                0x
19     19         0                                                0x
20     20         0                                                0x
21     21         0                                                0x
22     22         0                                                0x
23     23         0                                                0x
24     24         1                             1-2-marathon-training
25     25         1                             1-2-marathon-training
26     26         1                             1-2-marathon-training
27     27         1                             1-2-marathon-training
28     28         1                             1-2-marathon-training
29     29         1                             1-2-marathon-training
30     30         1                             1-2-marathon-training
31     31         1                             1-2-marathon-training
32     32         1                             1-2-marathon-training
33     33         1                             1-2-marathon-training
34     34         1                             1-2-marathon-training
35     35         1                             1-2-marathon-training
36     36         1                             1-2-marathon-training
37     37         1                             1-2-marathon-training
38     38         1                             1-2-marathon-training
39     39         1                             1-2-marathon-training
40     40         2  100-black-men-naacp-100-black-women-urban-league
41     41         2  100-black-men-naacp-100-black-women-urban-league
42     42         2  100-black-men-naacp-100-black-women-urban-league
43     43         2  100-black-men-naacp-100-black-women-urban-league
44     44         2  100-black-men-naacp-100-black-women-urban-league
45     45         2  100-black-men-naacp-100-black-women-urban-league
46     46         2  100-black-men-naacp-100-black-women-urban-league
47     47         2  100-black-men-naacp-100-black-women-urban-league
48     48         3                             100-business-startups
49     49         3                             100-business-startups

In [35]:
df_create_topic.to_csv("../csv/struttura/Create_topic_nodes.csv", index=False)


# In[35]:

KeyboardInterrupt:

In [ ]:
del df_create_topic


# In[ ]:

In [ ]:
df_topic_interest=df_c[df_c['type']==0]


# In[ ]:

In [ ]:
df_topic_interest.drop(columns='type', inplace=True)


# In[40]:

In [ ]:
df_topic_interest.to_csv("../csv/struttura/relations_topics_with_id.csv", index=False)


# In[41]:

In [ ]:
del df_topic_interest

In [ ]:
# In[44]:


df_topic_decleared=df_c[df_c['type']==1]
df_topic_decleared.drop(columns=['type','group_id','topic_name'], inplace=True)


# In[46]:


df_topic_decleared.to_csv("../csv/struttura/relations_decleared_topics.csv", index=False)


# In[ ]:





# In[ ]:

time=(time.time()-start_t)/60
print "completed in "+str(time)+" minutes"